{{> nav}}

<h1 class="ms-4">Welcome to James' Ramblin Room!</h1>
{{#each posts}}
<div class="card container justify-content-center mt-4 mb-4">
  <div class="card-header">
    {{this.user}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.post_name}}</h5>
    <p class="card-text">{{this.post_content}}</p>
    {{#if ../loggedin}}
    <a class="btn btn-primary detailsBtn" href="/postRoutes/:{{this.id}}" data-id="{{this.id}}">Details</a>
    {{else}}
    <a class="btn btn-primary" href="./login" data-id="{{this.id}}">Login to Comment</a>
    {{/if}}
    <p class="card-text">{{../comment_text}}</p>
  </div>
</div>
{{/each}}

<script src="./js/editPost.js"></script>